#flow-builder-area {
  position: absolute;
}

.minimap {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid #000000;
  z-index: 15;
}

.minimap .zoom-controls {
  background-color: rgba(68, 68, 68, 0.2);
}

.minimap .zoom-controls .icon {
  text-align: center;
}

.minimap .zoom-controls .icon:hover {
  cursor: pointer;
}

.minimap .zoom-controls .percent {
  text-align: center;
  font-size: 14px;
}

.minimap .zoom-controls .percent p {
  margin-bottom: 0px;
}

.minimap .minimap-area {
  position: relative;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  background: white;
  z-index: 9990;
  overflow: hidden;
}

.minimap .minimap-area .minimap-view {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid dodgerblue;
  background: rgba(221, 221, 221, 0.3);
  display: block;
  width: 30px;
  height: 40px;
  z-index: 9991;
  cursor: move;
}
