#diagramContainer {
  padding: 20px;
  width:80%; height: 150px;
  border: 1px solid gray;
}

.item {
  height:80px; width: 80px;
  border: 1px solid blue;
  float: left;
}

.diamond {
  transform: rotate(45deg);
  overflow: hidden;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
