<div class="grid-container">

  <div id="diagramSelect" style="min-height: 200px; min-width: 150px">
    <div class="item" name="item_box" style="border-radius: 45px;"></div><br>
    <div class="item" name="item_box" ></div><br>
    <div class="item diamond" name="item_box" ></div>
  </div>

  <div id="diagramContainer" style="min-height: 200px;">
    <div id="item_left" class="item" name="item_box" style="position: relative; left: 20px; top: 20px;
         border-radius: 45px;"></div>
    <div id="item_right" class="item" style="position: relative; left:150px; top: 20px;" name="item_box"></div>
    <div id="item_bottom" class="item diamond" style="position: relative; left:75px; top: 120px;" name="item_box"></div>
  </div>

</div>


