<div class="fluid-container flow-editor-root">
  <div class="row">
    <div class="col-2" style="overflow: auto">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="{{getCategoryName(cat.name)}}"
                   *ngFor="let cat of tasksLibrary">
          <ng-template ngbPanelContent>
            <div ubix-task-view
                 draggable="true"
                 (dragstart)="store.setStore({type: 'new_ubix_task', event: $event, data: task})"
                 (dragend)="store.setStore({type: null, event: null, data: null})"
                 class="btn btn-outline-warning select-task"
                 *ngFor="let task of cat.tasks">
              {{task.name}}
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col-8">
      <div app-flow-editor-directive
           ubix-movable-view
           [store]="store" [miniMap]="minimap"
           id="flow-editor"
           class="flow-editor">
        <div id="flow-editor-area" style="position: absolute; width: 2000px; height: 2000px; z-index: -9999"></div>
        <div id="minimap" class="minimap">
          <div class="minimap-view" id="minimap-view" name="minimap-view"
               style="top: 0px; left: 0px"
               onselectstart="return false" onmousedown="return false"></div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="form-vertical">
        <h5>Property Editor</h5>
        <div class="form-group">
          <label for="field">Field</label>
          <input id="field" class="form-control">
        </div>
        <div class="btn btn-primary">
          Save
        </div>
      </div>
    </div>
  </div>
</div>
