<div class="fluid-container flow-editor-root">
  <div class="row">
    <div class="col-2" style="overflow: auto">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="{{getCategoryName(cat.name)}}"
                   *ngFor="let cat of tasksLibrary">
          <ng-template ngbPanelContent>
            <div ubix-task-view
                 draggable="true"
                 (dragstart)="store.setStore({type: 'new_ubix_task', event: $event, data: taskTemplate})"
                 (dragend)="store.setStore({type: null, event: null, data: null})"
                 class="btn btn-outline-warning select-task"
                 *ngFor="let taskTemplate of cat.tasks">
              {{taskTemplate.name}}
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col-7">
      <app-flow-builder [store]="store"></app-flow-builder>
    </div>
    <div class="col-3">
      <app-form-renderer></app-form-renderer>
    </div>
  </div>
</div>
