.item {
  height:80px; width: 80px;
  border: 1px solid blue;
  float: left;
}

.ball {
  border-radius: 45px;
}

.diamond {
  transform: rotate(45deg);
  overflow: hidden;
}

/*New*/

.flow-editor-root {
  height: 100%;
}

.flow-editor-root .row {
  height: 100%;
}

.flow-editor-root .row > div {
  height: 100%;
}

.flow-editor {
  position: relative;
  background: lightgray;
  height: 100%;
}

.flow-editor-task {
  position: absolute;
  display: block;
  width: 200px;
  border-radius: 10px;
  background: white;
  border: 2px solid cadetblue;
  height: 50px;
  /* TODO: test parameters */
  line-height: 50px;
  text-align: center;
}

.flow-editor .minimap {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background: white;
}

.flow-editor .minimap .minimap-view {
  border: 1px solid dodgerblue;
  background: #dddddd;
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 40px;
}

.select-task:hover {
  cursor: pointer;
}
